@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
*{
    /* margin: 0px; */
    /* box-sizing: border-box; */
    
}

body{
    background-color: #fff8ed;
    
}
nav{
    text-align: right;
    font-family: 'Edu SA Hand',cursive ;
    background-color: #fff8ed; 
    margin: -26px 62px;   
}

nav>a{
    margin: 0px 10px;
    text-decoration: none;
    color: black;
}
a:hover{
    color: orange;
}

.logo{
    margin: 100px 200px 0px;
    font-family: 'Edu SA Hand',cursive ;
    color: black;
    text-decoration: none;
}

h2{
    margin: 212px 154px;
}
h1{
    margin: -195px 154px;
}
h4{
    margin: 221px 154px;
}